<section id="contact" class="contact-section" appScrollReveal>
    <div class="container contact-container">
        <span class="section-subtitle">{{ 'CONTACT.SUBTITLE' | translate }}</span>
        <h2 class="section-title">{{ 'CONTACT.TITLE' | translate }}</h2>

        <p class="contact-text">
            {{ 'CONTACT.TEXT' | translate }}
        </p>

        <div class="contact-actions">
            <a href="mailto:youssef.abidi@esprit.tn" class="btn btn-primary">{{ 'CONTACT.CTA_EMAIL' | translate }}</a>
            <a href="https://www.linkedin.com/in/youssef-abidi-/" target="_blank" class="btn btn-outline">{{
                'CONTACT.CTA_LINKEDIN' | translate }}</a>
            <a href="https://github.com/YoussefAbidi69" target="_blank" class="btn btn-outline">{{ 'CONTACT.CTA_GITHUB'
                | translate }}</a>
        </div>
    </div>
</section>